.trayBottom{
    height: 500px;
    width: 100%;
    background: rgb(20,20,20);
    flex-grow: 1;
    flex-shrink: 1;
    position: absolute;
    bottom: 0;
    border-top: 10px solid #1e1e1e;

    .tray-bottom-item{
      color: black;
      font-family: Helvetica, Arial;
      padding: 5px;
      margin: 0px 10px;
      border: solid 1px;
      border-radius: 5px;
      margin-bottom: 2px;
      cursor: pointer;
    }
  }
